<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%=title%> </h1>
    <h3>Bienvenido Alumno</h3>
    <p><b>Nombre y Apellido:</b> <%=nombre%> 
      <%=apellido%> </p>
    <p><b>Cedula:</b> <%=cedula%></p>
  </body>
</html>